@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(http://imgfz.com/i/KOFwYB7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #c9c9c96d;
        margin: 40px;
        margin-top: 85px;
        border-radius: 20px;
        backdrop-filter: blur(0.7rem);
        box-shadow: rgba(9, 9, 9, 0.782) 0px 8px 24px;
        position: fixed;

    }
    .Panel img{
        width: 85px;
        height: 85px;
        border-radius: 100px;
        border-style: solid;
        background: #fff;
        
    }
    .Panel{
        padding: 16px;  
        color: #ff0000;
        text-align: end;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .Panel2{
        padding: 20px;
    }
    .Panel3{
        text-align: center;
        padding: 10px;
    }
    .Panel3, h4{
        text-align: center;
        padding: 10px;
    }
    .button{
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .button a{
        color: aliceblue;
        background: #ff0000;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;
    }
    .button a:hover{
        background: #790707;
        transition: 0.5s;
    }
    .Ventana{
        position: absolute;
        background: #ff0000;
        color: #ffffff;
        margin: 35px;
        margin-top: 200px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.971) 0px 8px 24px;
        display: none;
    }
    .Ventana h2{
        text-align: center;
        color: #000000;
    }
    .Ventana p, h1{
        text-align: center;
        
    }
    .Ventana a{
        position: absolute;
        bottom: 80%;
        left: 89%;
    }
    .Ventana img{
        width: 50px;
    }
    .Ventana2{
        background: #fff;
        position: absolute;
        margin: 35px;
        margin-top: 225px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.971) 0px 8px 24px;
        display: none;
        transition: 0.5s;
    }
    .Ventana2 h1{
        background: #ff0000;
        color: #fff;
        margin-left: 125px;
        margin-right: 125px;
        border-radius: 200px;
    }
    .Ventana2 h2{
        text-align: center;
    }
    .Ventana2 a{
        position: absolute;
        bottom: 75%;
        left: 90%;
    }
    .Ventana2 img{
        width: 50px;
    }
}
