@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHeZ7hGmrk6Key-oL0ND5rb3XRLu1kGqD3oQK8W5B73UeVW5Ri49JVFw_z-NP-1RSIdp1Kwgm9Y6luhOqMpbRoQEwXLMKMEOETLg0yv-mDchgVjQueIlvwLk1yNtQAJP6osMwcmc-B-GfgsvEVf5WgJJfmykKg9SAMcYvmTDn_hTctHklfq9nVdZGtwN3l9cCaGkPHq1XifdMF6hBVEY8cRqBVc-MZXWkImRMC0XdIz4oGLCfm6PgU5bzFb1OoeSvvJTmWt-mqgpQLJ6NeeNYAM2oaPzUR93vyzlIUwgPymAywFw5OBb-6QrFtlBIr4wCTMx8_xUqelvrztJz5YZ2aQWPp5kOJqEK9X3qccH4-YbHSsE7-O4YwA8NtvcioqZaf_q7XoW6A5i3zsiWjXUB4wPZSBQWACtgL-msD7RNh0P7DeTEf8RThy-jFCjFj594Rwl4iO3MJ2du8U-gx78AVbgpntG0PuuKoHMd_kJnJ1DcoeVCDj8RWuFeoG73-aooZ4eJYZiNrpqlVEkWYYbjarKHn5G1qRkrlZFmVYOsDTVmc1biZkiSZM38miZUe3xzhMggJTS71YwAWdP2ij9K2hhrocAdV2pYf0XuftfTMnoBnfSBXT3FsDQj_3YIBDMLNTT6gEAn8UYWivzd9vrlNxrocSHd4bO0i9NC-xxts8L74yQdSelyxBbkgk4Z4zsSXNgeSQcLdhfW6fVrnD3eBpMDGyCKszcY26A-fdbX3aPRVq-q5OBeoX7S9m5OJTyEzJJf6YX860y3gpubB8rMxm-CV1EON1G93fwvUbZevivr9xMswD-XWdY-xyo1mpcvd73hm1kIFPVzh1KcGo1zfz3MjW2-bv7eWJe0-6K_OtxZOlIgAv2MUKpTmJJzVM3wtPut4uG9_JMafrM9FY5JIo0-rFLH5FF0-1U-wKt7kl0qU7MfnA=w281-h653-s-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #c9c9c96d;
        margin: 40px;
        margin-top: 85px;
        border-radius: 20px;
        backdrop-filter: blur(0.7rem);
        box-shadow: rgba(9, 9, 9, 0.782) 0px 8px 24px;
        position: fixed;

    }
    .Panel img{
        width: 85px;
        height: 85px;
        border-radius: 100px;
        border-style: solid;
        background: #fff;
        
    }
    .Panel{
        padding: 16px;  
        color: #ff0000;
        text-align: end;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .Panel2{
        padding: 20px;
    }
    .Panel3{
        text-align: center;
        padding: 10px;
    }
    .Panel3, h4{
        text-align: center;
        padding: 10px;
    }
    .button{
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    .button a{
        color: aliceblue;
        background: #ff0000;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;
    }
    .button a:hover{
        background: #790707;
        transition: 0.5s;
    }
    .Ventana{
        position: absolute;
        background: #ff0000;
        color: #ffffff;
        margin: 35px;
        margin-top: 200px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.971) 0px 8px 24px;
        display: none;
    }
    .Ventana h2{
        text-align: center;
        color: #000000;
    }
    .Ventana p, h1{
        text-align: center;
        
    }
    .Ventana a{
        position: absolute;
        bottom: 80%;
        left: 89%;
    }
    .Ventana img{
        width: 50px;
    }
    .Ventana2{
        background: #fff;
        position: absolute;
        margin: 35px;
        margin-top: 225px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.971) 0px 8px 24px;
        display: none;
        transition: 0.5s;
    }
    .Ventana2 h1{
        background: #ff0000;
        color: #fff;
        margin-left: 125px;
        margin-right: 125px;
        border-radius: 200px;
    }
    .Ventana2 h2{
        text-align: center;
    }
    .Ventana2 a{
        position: absolute;
        bottom: 75%;
        left: 90%;
    }
    .Ventana2 img{
        width: 50px;
    }
}
